.malfunctions {
  position: relative;
  color: #fff;
  cursor: pointer;

  &__figure {
    box-sizing: border-box;
    @include set-indents(0, 10px, 2px solid #000);
    width: 280px;
    min-height: 35px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
  }

  &__description {
    margin: 0;
    color: #000;
    font-size: 18px;
  }

  & ul {
    box-sizing: border-box;
    @include reset-list;
    background-color: rgba($color: #000, $alpha: 0.8);
    visibility: hidden;
  }

  & li {
    box-sizing: border-box;
    transition: color 0.3s;
    cursor: pointer;

    &:not(:last-of-type) {
      border-bottom: 1px solid #fff;
    }
  }

  & > ul {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 0 0 4px 4px;

    & > li {
      width: 100%;
      position: relative;
      padding: 7px 10px;
      font-size: 20px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        background-color: green;
      }

      &:nth-child(2)::before {
        background-color: red;
      }

      &:nth-child(3)::before {
        background-color: yellow;
      }

      & > ul {
        max-height: 300px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        border-radius: 0 4px 4px 4px;
        overflow-y: scroll;
        z-index: 10;

        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          background-color: #000;
        }

        &::-webkit-scrollbar-thumb {
          height: 50px;
          background-color: #777;
          border-radius: 3px;
        }

        @media screen and (max-width: 720px) {
          top: 100%;
          left: 0;
          background-color: rgba($color: #000, $alpha: 1);
        }

        & > li {
          width: 100%;

          & > label {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }

  & > .malfunctions__list_active {
    visibility: visible;
  }

  & .malfunctions__item_active > ul {
    visibility: visible;
  }

  &:hover > ul {
    visibility: visible;

    & > li {
      & > ul {
        color: #fff;
        opacity: 1;
      }

      &:hover {
        color: rgba($color: #fff, $alpha: 0.6);

        & > ul {
          & > li:hover {
            color: rgba($color: #fff, $alpha: 0.6);
          }
        }
      }
    }
  }
}
